apiVersion: v1
kind: PersistentVolume
metadata:
  name: nwp-forecasts-archive-{{ nwpmodel | replace('_', '') }}
  labels:
    app: fetch-nwp
    model: {{ nwpmodel | replace('_', '') }}
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 20Gi
  nfs:
    path: "/hdd/compute/nwp_forecasts/{{ nwpmodel }}"
    server: core.solarforecastarbiter.org
  persistentVolumeReclaimPolicy: Retain
